@model HomeViewModel






<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            position: fixed;
            text-align: left;
            color: black;
        }

        .bottom-left {
            position: absolute;
            bottom: 8px;
            left: 16px;
        }

        .top-left {
            position: absolute;
            top: 4px;
            left: 16px;
        }
    </style>
</head>
<body>

    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>

    <div class="container">
        <header class="pull-right" style="max-width:1500px;" id="home">
            <img class="w3-image" src="~/Images/karousel1.jpg" alt="Architecture" width="1460" height="500">
        </header>
        <div class="top-left">

        </div>

    </div>

</body>
</html>
